<nav class="nav flex-column">
  <NavLink class="nav-link d-flex align-items-center py-2" href="" Match="NavLinkMatch.All">
    <i class="bi bi-house-door-fill me-2 fs-5"></i>
    <span>Home</span>
  </NavLink>
  <NavLink class="nav-link d-flex align-items-center py-2" href="events">
    <i class="bi bi-calendar-event me-2 fs-5"></i>
    <span>Events</span>
  </NavLink>
  <NavLink class="nav-link d-flex align-items-center py-2" href="my-registrations">
    <i class="bi bi-list-check me-2 fs-5"></i>
    <span>My Registrations</span>
  </NavLink>
</nav>
